.App {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #333; /* Ensure the background color covers the entire nav bar */
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, nav li a:focus {
  background-color: #111;
}

body {
  padding-top: 60px; /* Adjust this value if your nav bar is taller or shorter */
}

/* Responsive styles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav li a {
    padding: 10px;
    text-align: left;
  }

  nav ul.collapsed {
    display: none;
  }

  .nav-toggle {
    display: block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    width: 100%;
  }
}

/* Styles to hide the toggle button on larger screens */
@media (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

/* Styles for NTPSources Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
}
.card-error {
    background: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.card-warning {
    background: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.card-success{
    background: #d4edda;
    border-color: #c3e6cb;
    color: #155724;

}

.card h4 {
    margin-top: 0;
}

.card p {
    margin: 5px 0;
}
